# Development, packaging, environment, and local tool artifacts.
.DS_Store
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
it.
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
code is
in version control.
dependencies or dependencies
don't work, or not
poetry.lock in version control.
reproducibility, and is more
https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
in version control.
recommended to not include it
.pdm.toml
github.com/pdm-project/pdm
__pypackages__/
celerybeat-schedule
celerybeat.pid
*.sage.py
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
JetBrains.gitignore that can
https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
more nuclear
entire idea folder.
